/*
      ------ Font family -----
      font-family: 'Poppins', sans-serif;
      Family: [Overpass](https://fonts.google.com/specimen/Overpass)
      *
      */
/* GENERIC GLOBAL STYLES **********/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CUSTOM PROPERTIES *********************/
:root {
  --mainBl: steelblue;
  --bgDrk: hsl(216, 12%, 8%);
  --clrOrange: hsl(25, 97%, 53%);
  --clrWte: hsl(0, 0%, 100%);
  --bRad: 20px;
  --bRadLogo: 50%;
  --midGray: hsl(216, 12%, 54%);
  --ltGray: hsl(217, 12%, 63%);
  --dkGray: hsl(218, 11%, 14%);
  --mgN: 1em;
  --mgNLG: 1.5em;
  --trans: ease-in-out 200ms;
}
/* END CUSTOM PROPERTIES *****************/
body {
  /* background-color: #000; */
  background-color: var(--bgDrk);
  font-size: 0.9375rem;
  font-family: "Overpass", sans-serif;
  letter-spacing: 1.6px;
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}
img {
  max-width: 100%;
}
h1,
h2 {
  margin: 0;
}
/* ******* Main Body *************** */
.app {
  width: 290px;
  height: 500px;
  background-color: var(--dkGray);
  border-radius: var(--bRad);
  padding: 3em 2em;
}
.app__img {
  border-radius: var(--bRad);
  background-color: hsl(220, 5%, 23%);
  padding: 0.5em;
}

.rating-app-container {
  display: grid;
  place-items: center;
  padding-top: 5em;
}
/* Show and hide thank you display */
/* Initially hide thank you by default */
.rating-app-thanks {
  display: grid;
  place-items: center;
  /* padding-top: 3em; */
  height: 0;
  overflow: hidden;
}

/* Show thank you display */
.show-thanks {
  height: auto;
}
/* Hide main window */
.hide-rating-app {
  height: 0;
  overflow: hidden;
}
/* BUTTONS **********/
.app__btnHolder {
  margin: 2em 0;
  display: flex;
  justify-content: space-between;
}
.btnNumbers,
.btnSubmit {
  border: none;
  color: var(--ltGray);
  cursor: pointer;
}
.btnNumbers {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: hsl(220, 5%, 23%);
}
.btnNumbers:hover {
  background-color: var(--clrOrange);
}
.btnNumbers:focus {
  color: var(--clrWte);
  background-color: var(--midGray);
}
.btnSubmit {
  width: 100%;
  background-color: var(--clrOrange);
  text-transform: uppercase;
  border-radius: var(--bRad);
  padding: 1em 0;
  color: var(--clrWte);
  letter-spacing: 2px;
}
.btnSubmit:hover {
  background-color: var(--clrWte);
  color: rgb(199, 117, 87);
}
.app__close {
  color: var(--clrWte);
  text-align: right;
  cursor: pointer;
}
/* ***************** */
/* Typography */
.app__title {
  color: var(--clrWte);
}
.app__text {
  color: var(--ltGray);
}
.app__thanks-text {
  color: var(--ltGray);
}
/* Utility Margin */
.app__img,
.app__title,
.app__text {
  margin-bottom: var(--mgN);
}
.app__img-thanks,
.app__thanks-title,
.app__thanks-text,
.app__thanks-selection {
  margin-bottom: var(--mgNLG);
}
.app__thanks-title {
  color: var(--clrWte);
}
.app__thanks-selection {
  color: var(--clrOrange);
  border-radius: var(--bRad);
  padding: 0.5em 0;
  background-color: hsl(225, 4%, 18%);
}
.align-center {
  text-align: center;
}
/* End Typography */

/* From Frontend Mentor */
.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 6em;
  line-height: 2;
}
.attribution a {
  display: block;
  color: hsl(228, 45%, 44%);
  margin-bottom: 1em;
}
/* Mine below */
.attribution a,
.attribution p {
  margin-bottom: 1em;
}
.coded-by {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 700px) {
  .rating-app-container {
    display: grid;
    place-items: center;
    /* padding-top: 5em; */
  }
  .app {
    width: 400px;
  }
  .btnNumbers {
    height: 60px;
    width: 60px;
  }
}
